<% include partials/header %>

<section class="details">
  
  <h1>Details</h1>

  <p><a href="/dvds">Back</a></p>
      <div>
          <h2><%= dvd.name %></h2>
          <img src="<%= dvd.image %>">
          <p><a href="<%= dvd.imdbLink %>">IMDB Link</a></p>
          <p><%= dvd.description %></p>
          <p><a href="/dvds/<%= dvd._id  %>">More Info</a></p>
      </div>

</section>

<p><a href="/dvds">Back</a></p>

<% include partials/footer %>