<% include partials/header %>

<section class="edit">

<h1>Edit <%= dvd.name %></h1>

  <form action="/dvds/<%= dvd._id %>?_method=PUT" method="POST">
    <input type="text" name="dvd[name]" placeholder="Name" value="<%= dvd.name %>">
    <input type="text" name="dvd[image]" placeholder="Image URL" value="<%= dvd.image %>">
    <input type="text" name="dvd[imdbLink]" placeholder="IMDB URL" value="<%= dvd.imdbLink %>">
    <textarea type="text" name="dvd[description]" placeholder="Description"><%= dvd.description %></textarea>
    <button>Submit</button>
  </form>

  
<!-- 
<div id="container"></div>

<form id="metadata_form" action="/dvds" method="post" enctype="multipart/form-data">

  <label class="form_label" data-content="Title" for="title"></label>
  <input type="text" id="title" name="movie_title" placeholder="Name" class="form_input">

  <label class="form_label" data-content="Plot" for="plot"></label>
  <textarea id="plot" name="movie_desc" placeholder="Plot" style="width: 95%; height: 125px;"></textarea>

  <label class="form_label" data-content="Runtime" for="runtime"></label>
  <input type="text" id="runtime" name="runtime" placeholder="Runtime" class="form_input">

  <label class="form_label" data-content="Release date" for="released"></label>
  <input type="text" id="released" name="release_dt" placeholder="Release Date" class="form_input">

  <label class="form_label" data-content="MPAA" for="MPAA"></label>
  <input type="text" id="MPAA" name="MPAA" placeholder="MPAA Rating" class="form_input">

  <label class="form_label" data-content="Rating" for="rating"></label>
  <input type="text" id="rating" name="rating" placeholder="My Rating" class="form_input">

  <label class="form_label" data-content="IMDb Link" for="imdbid"></label>
  <input type="text" id="imdbid" name="imdb_lk" placeholder="IMDB Link" class="form_input">

  <label class="form_label" data-content="Poster URL" for="poster"></label>
  <input type="text" id="poster" name="poster_url" placeholder="Poster URL" class="form_input">

  Poster Preview:<br> <div class="poster" style="width:auto;"><img src=""></div>
  <button type="submit" class="button" value="Add">Add</button>
</form>

</section>
 -->


<p><a href="/dvds">Back</a></p>

<% include partials/footer %>